* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: inter;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  border: none;
  outline: none;
  padding: 10px 25px;
}
/* navigation bar */

.header {
  background-color: var(--backdrop-color);
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
}
.navigation-bar {
  padding: 25px;
  border-bottom: 1px solid var(--opacity-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: Lobster;
  font-size: 24px;
}
.logo > span {
  color: #ffb34e;
}

.navigation-list {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
}
.navigation-link > a {
  color: var(--primary-color);
  position: relative;
}
.navigation-link > a::before {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 10%;
  height: 1.5px;
  border-radius: 5px;
  background-color: var(--primary-color);
  bottom: -3px;
  transition: width 0.4s ease, opacity 0.4s ease, visibility 0.4s ease;
}
.navigation-link:hover > a::before {
  width: 100%;
  opacity: 1;
  visibility: visible;
}
.icon {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.icon > i {
  font-size: 20px;
}
.fa-facebook-f:hover {
  color: dodgerblue;
}
.fa-instagram:hover {
  color: rgb(192, 14, 192);
}
.fa-twitter:hover {
  color: dodgerblue;
}

/* hero section */

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.container-grid {
  width: 1280px;
  height: 640px;
  border-radius: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--container-grid-background-color);
}
.txt {
  padding: 40px;
}
.btn-recipes {
  background-color: var(--button-background-color);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 550;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 32px;
}
.food-name {
  font-size: 64px;
  margin-bottom: 24px;
}
.food-decription {
  color: var(--opacity-color);
  margin-bottom: 30px;
}
.time-btn {
  display: flex;
  align-items: center;
  column-gap: 25px;
  margin-bottom: 104px;
}
.time,
.food {
  border-radius: 30px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: var(--hover-backdrop-color);
}
.review {
  display: flex;
  justify-content: space-between;
}
.profile {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.profile > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username {
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 8px;
}
.date {
  color: var(--opacity-color);
}
.view-recipes {
  padding: 20px 40px;
  background-color: var(--primary-color);
  border-radius: 15px;
  color: var(--button-background-color);
  font-size: 14px;
  font-weight: 550;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.fa-circle-play {
  font-size: 20px;
}
